* {
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    text-align: center;
    font-family: Arial, sans-serif;
    /* min-height: calc(600vh - 10px - 0px); */
}

.table-container {
    margin: 50px;
    text-align: center;
    display: inline-block;
    border: 2px solid #333;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #999;
    background-color: #ddd;
    text-align: center;
    font-size: 20px;
}

.cell:hover {
    background-color: #ccc;
    cursor: pointer;
}

.reveal-cell {
    background-color: #df2323;
}

.restart {
    margin-top: 20px;
}
.footer {
    background-color: rgb(172, 197, 197);
}

.year {
    font-size: 15px;
}